<div class="grid-cards">
   @@loop('../../UI/Card/Card3.html', [
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   { link:'car-detailed.html'},
   ])
</div>