@use '../../../scss/utils' as *;

.footer {
   background-color: #000000;
   color: #ffffff;

   &__body {
      @media (min-width:1024px) {
         display: flex;
      }
   }

   &__left {
      flex: 0 0 47.25%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-border-1);
   }

   &__left-top {
      display: flex;
      border-bottom: 1px solid var(--color-border-1);
   }

   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--padding-global);

      @media (min-width:1024px) {
         border-right: 1px solid var(--color-border-1);
      }

      svg,
      img {
         width: 65px;
         height: auto;

         @media (min-width:768px) {
            width: 70px;
         }

         @include size_adaptive (font-size, 70, 100, 1366, 1920);
         @include size_adaptive (font-size, 100, 134, 1920, 2560);

         @media (min-width:2560px) {
            width: 134px;
         }
      }
   }

   &__left-bottom {
      padding: var(--padding-global);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--padding-global);
   }

   &__copyright {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      padding: var(--padding-global);

      @media (min-width:768px) {
         background: rgba(20, 20, 20, 0.86);
      }
   }

   &__copyright-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include size_adaptive (font-size, 16, 22, 1366, 1920);
      @include size_adaptive (font-size, 22, 30, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 30px;
      }
   }

   &__copyright-text {
      font-size: 13px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #D9D9D9;
      @include size_adaptive (font-size, 13, 15, 1366, 1920);
      @include size_adaptive (font-size, 15, 20, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__contacts {
      @media (min-width:1024px) {
         display: flex;
         justify-content: space-between;
      }
   }

   &__contacts-shell {
      margin-bottom: var(--padding-global);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width:1024px) {
         margin-bottom: 0;
      }
   }

   &__phone {
      margin-bottom: 10px;
      font-size: 30px;
      letter-spacing: -0.03em;


      @include size_adaptive (font-size, 24, 30, 1024, 1366);
      @include size_adaptive (font-size, 30, 40, 1366, 1920);
      @include size_adaptive (font-size, 40, 55, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 55px;
      }
   }

   &__mail {
      font-weight: 600;
      font-size: 13px;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      @include size_adaptive (font-size, 13, 19, 1366, 1920);
      @include size_adaptive (font-size, 19, 26, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 26px;
      }

      // &:hover {
      //    .red {
      //       color: #ffffff;
      //    }

      //    .red-underline {
      //       text-decoration-color: #DB0E0E;
      //    }

      //    .red-underline {
      //       text-decoration-color: #ffffff;
      //    }
      // }
   }

   &__time {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #a9a9a9;

      @include size_adaptive (font-size, 10, 14, 1024, 1366);
      @include size_adaptive (font-size, 14, 16, 1366, 1920);
      @include size_adaptive (font-size, 16, 22, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 22px;
      }
   }

   &__social {
      display: flex;
      gap: calc(var(--padding-global) / 2);
   }

   &__address {
      font-size: 15px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include size_adaptive (font-size, 15, 17, 1366, 1920);
      @include size_adaptive (font-size, 17, 24, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 24px;
      }
   }

   &__right {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
   }

   &__right-top {
      display: flex;
      border-bottom: 1px solid var(--color-border-1);
   }

   &__nav {
      padding: var(--padding-global);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--padding-global) / 2);
      width: 100%;
      font-weight: 600;
      font-size: 30px;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media (min-width:1024px) {
         background: rgba(50, 50, 50, 0.85);
      }

      @media (min-width:1024px) {
         width: auto;
         flex: 0 0 min(604px, 50%);
         border-right: 1px solid var(--color-border-1);
         font-size: 26px;
      }

      @include size_adaptive (font-size, 26, 38, 1366, 1920);
      @include size_adaptive (font-size, 38, 50, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 50px;
      }
   }

   &__links {
      flex: 1 1 auto;
      padding: var(--padding-global);
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--padding-global) / 2);
      font-weight: 500;
      font-size: 18px;
      letter-spacing: -0.03em;
      line-height: 130%;
      text-transform: uppercase;
      background: rgba(33, 33, 33, 0.83);
      display: none;

      @media (min-width:1024px) {
         display: flex;
      }

      @include size_adaptive (font-size, 18, 24, 1366, 1920);
      @include size_adaptive (font-size, 24, 50, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 50px;
      }
   }

   &__bottom {
      flex: 1 1 auto;
      padding: var(--padding-global);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #a9a9a9;
      background: rgba(20, 20, 20, 0.83);
      @include size_adaptive (font-size, 13, 20, 1366, 2560);

      @media (min-width:2560px) {
         font-size: 20px;
      }
   }

   &__bottom-links {
      @media (max-width:767.98px) {
         display: none;
      }

      a {
         position: relative;
         --offset: 1.5em;

         &:not(:last-child) {
            margin-right: calc(var(--offset) * 2);

            &::after {
               content: '|';
               pointer-events: none;
               position: absolute;
               top: 0;
               right: calc(var(--offset) * -1);
               color: #a9a9a9;
            }
         }

         // &:hover {
         //    &::after {
         //       color: #a9a9a9;
         //    }
         // }
      }
   }
}