@use '../../../scss/utils' as *;

.footer {
   background-color: #000000;
   color: #ffffff;

   &__body {
      display: flex;
   }

   &__left {
      flex: 0 0 47.25%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-border-1);
   }

   &__left-top {
      display: flex;
      border-bottom: 1px solid var(--color-border-1);
   }

   &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--padding-global);
      border-right: 1px solid var(--color-border-1);

      svg,
      img {
         width: 134px;
      }
   }

   &__left-bottom {
      padding: var(--padding-global);
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--padding-global);
   }

   &__copyright {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      padding: var(--padding-global);
      background: rgba(20, 20, 20, 0.86);
   }

   &__copyright-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
   }

   &__copyright-text {
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #D9D9D9;
   }

   &__contacts {
      display: flex;
   }

   &__contacts-shell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__phone {
      margin-bottom: 10px;
      font-size: 55px;
      letter-spacing: -0.03em;
   }

   &__mail {
      font-weight: 600;
      font-size: 26px;
      letter-spacing: -0.03em;
      text-transform: uppercase;
   }

   &__time {
      font-size: 22px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #a9a9a9;
   }

   &__social {
      display: flex;
      gap: calc(var(--padding-global) / 2);
   }

   &__address {
      font-size: 24px;
      line-height: 130%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
   }

   &__right {
      flex: 1 1 auto;
   }

   &__right-top {
      display: flex;
      border-bottom: 1px solid var(--color-border-1);
   }

   &__nav {
      flex: 0 0 min(604px, 50%);
      padding: var(--padding-global);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--padding-global) / 2);
      font-weight: 600;
      font-size: 50px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      border-right: 1px solid var(--color-border-1);
      background: rgba(50, 50, 50, 0.85);
   }

   &__links {
      flex: 1 1 auto;
      padding: var(--padding-global);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: calc(var(--padding-global) / 2);
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      background: rgba(33, 33, 33, 0.83);
   }

   &__bottom {
      padding: var(--padding-global);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #a9a9a9;
      background: rgba(20, 20, 20, 0.83);
   }

   &__bottom-links {
      a {
         position: relative;
         --offset: 1.5em;

         &:not(:last-child) {
            margin-right: calc(var(--offset) * 2);

            &::after {
               content: '|';
               pointer-events: none;
               position: absolute;
               top: 0;
               right: calc(var(--offset) * -1);
            }
         }
      }
   }
}

.red-underline {}

.red {}

.underline {}