<div class="contacts">
   <div class="contacts__container">
      <div class="contacts__grid">
         <div class="contacts__name">Адрес офиса</div>
         <div class="contacts__address"><a href="https://www.google.com/maps/place/Börnsener+Str.+36,+21039+Börnsen,+Германия/@53.4857665,10.28818,17z/data=!3m1!4b1!4m6!3m5!1s0x47b1f1f25d6c7289:0xdb9333718f468671!8m2!3d53.4857665!4d10.2907549!16s%2Fg%2F11cnd84lnl!5m1!1e1?entry=ttu&g_ep=EgoyMDI2MDIyMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Börnsener Straße 36, 21039 Börnsen, Deutschland</a></div>
         <div class="contacts__name">Телефон</div>
         <div class="contacts__phone">
            <a href="tel:+4917620909738" class="hover-red">+4917620909738</a>
         </div>
         <div class="contacts__name">Почта</div>
         <div class="contacts__mail">
            <a href="mailto:info@friendlymotors.de" class="hover-red"><span class="red-underline">info</span><span class="red">@</span><span class="underline">friendlymotors.de</span></a>
         </div>
         <div class="contacts__name">Время работы</div>
         <div class="contacts__time"><span>Пн–Пт:</span> 10:00–18:00, <span>Сб:</span> 10:00-13:00</div>
         <div class="contacts__name">Социальные сети</div>
         <div class="contacts__social">
            <a href="#0" class="hover-red" target="_blank">
               <img src="@img/svg/instagram-2.svg" alt="img">
               <span>instagram</span>
            </a>
            <a href="#0" class="hover-red" target="_blank">
               <img src="@img/svg/youtube.svg" alt="img">
               <span>youtube</span>
            </a>
         </div>
      </div>
   </div>
</div>