@use '../../../scss/utils' as *;

.enumeration {

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width:1024px) {
         grid-template-columns: 1fr 1fr;
      }
   }

   &__card {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.05em;
      border-bottom: 1px solid var(--color-border-2);
      text-transform: uppercase;

      @include size_adaptive (font-size, 22, 29, 1366, 1920);
      @include size_adaptive (font-size, 29, 40, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 40px;
      }

      &:nth-child(odd) {
         @media (min-width:1024px) {
            padding-right: 40px;
            border-right: 1px solid var(--color-border-2);
         }
      }

      &:nth-child(even) {
         @media (min-width:1024px) {
            padding-left: 40px;
         }
      }

      &>div {
         span {
            color: #DB0E0E;
         }
      }
   }

   &__icon {

      img,
      svg {
         height: 45px;
         width: auto;

         @include size_adaptive (font-size, 45, 90, 1366, 2560);

         @media (min-width:2560px) {
            height: 90px;
         }
      }
   }

   &__value {
      display: flex;
   }

   &__value-item {
      font-size: 1.75em;
      color: #DB0E0E;

   }

   &__value-sign {
      font-size: 1.75em;
   }
}