<section class="banner-offer margin-section">
   <img class="banner-offer__background" src="@img/webp/image-25.webp" alt="фон" aria-hidden="true">
   <div class="banner-offer__container">
      <div class="banner-offer__body">
         <div class="banner-offer__title">
            <h2>Спецпредложение</h2>
         </div>
         <div class="banner-offer__contant">
            <div>
               <div class="banner-offer__info">
                  При заказе <span>3-х</span> выездных диагностик
               </div>
               <div class="banner-offer__text">
                  Проверка по дилерской базе обслуживания автомобиля — <strong>бесплатно</strong>
               </div>
            </div>
            <div>
               @@include('../../UI/Buttons/Button/Button.html',{
               text:'подробнее',
               link:'#0'
               })
            </div>
         </div>
      </div>
   </div>
</section>