@use '../../../scss/utils' as *;

.achievements {

   &__container {}

   &__body {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }

   &__card {
      padding-top: 45px;
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-border-2);
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include size_adaptive (font-size, 22, 29, 1366, 1920);
      @include size_adaptive (font-size, 29, 40, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 40px;
      }

      &:nth-child(odd) {
         padding-right: 40px;
         border-right: 1px solid var(--color-border-2);
      }

      &:nth-child(even) {
         padding-left: 40px;
      }
   }

   &__value {
      display: flex;
   }

   &__value-item {
      font-size: 1.75em;
      color: #DB0E0E;

   }

   &__value-sign {
      font-size: 1.75em;
   }
}