<div class="achievements margin-section">
   <div class="achievements__container">
      <div class="achievements__body">
         <div class="achievements__card">
            <div>экономия от рыночной стоимости</div>
            <div class="achievements__value">
               <div>до</div>
               <div class="achievements__value-item">15</div>
               <div class="achievements__value-sign">%</div>
            </div>
         </div>
         <div class="achievements__card">
            <div>год основания компании</div>
            <div class="achievements__value">
               <div></div>
               <div class="achievements__value-item">700</div>
               <div class="achievements__value-sign">+</div>
            </div>
         </div>
         <div class="achievements__card">
            <div>продиагностированных автомобилей</div>
            <div class="achievements__value">
               <div></div>
               <div class="achievements__value-item">2022</div>
               <div class="achievements__value-sign"></div>
            </div>
         </div>
         <div class="achievements__card">
            <div>Подписчиков в социальных сетях</div>
            <div class="achievements__value">
               <div></div>
               <div class="achievements__value-item">7000</div>
               <div class="achievements__value-sign">+</div>
            </div>
         </div>
      </div>
   </div>
</div>