@use '../../../scss/utils' as *;

.contacts-map {
   @media (max-width:1023.98px) {
      margin-bottom: 0;

      &+.form {
         margin-top: 0;
      }
   }

   &__container {}

   &__body {
      position: relative;
      overflow: hidden;
      clip-path: polygon(0% 100%, 0% var(--clip, 45px), var(--clip, 45px) 0%, 100% 0%, 100% calc(100% - var(--clip, 45px)), calc(100% - var(--clip, 45px)) 100%);
      height: 400px;

      @include size_adaptive (height, 400, 750, 1366, 2560);

      @media (min-width:2560px) {
         height: 750px;
      }


      [class*="container"] {
         padding: 0;
      }
   }
}