<section class="slider margin-section">
   <div class="slider__container">
      <div class="header-section">
         <div>
            <h2 class="title-lg js-text-animate">@@title</h2>
            @@if(context.text){<p class="text-lg">@@text</p>}
         </div>

      </div>
      <div class="slider__shell js-animate-opacity">
         <div class="slider__body swiper">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>
               <div class="swiper-slide">
                  @@include('../../UI/Card/@@card',{ })
               </div>

            </div>
         </div>
         @@include('../../UI/Buttons/Button-Arrow/Button-Arrow.html',{
         button:true,
         class:'slider__button prev',
         left: true,
         })
         @@include('../../UI/Buttons/Button-Arrow/Button-Arrow.html',{
         button:true,
         class:'slider__button next',
         right: true
         })
      </div>
      <div class="slider__link" data-da=".header-section,1,768">
         @@include('../../UI/Buttons/Button/Button.html',{
         text: 'смотреть все',
         link:'#0'
         })
      </div>
   </div>
</section>