.slider {
   overflow: hidden;

   &__shell {
      position: relative;
   }

   &__body {
      @media (min-width:1024px) {
         overflow: hidden;
      }
   }

   &__button {
      position: absolute;
      z-index: 2;
      top: var(--offset, 50%);
      transform: translateY(-50%);


      &.next {
         right: 0;
         transform: translate(50%, -50%);

         @media (max-width:767.98px) {
            display: none;
         }
      }

      &.prev {
         left: 0;
         transform: translate(-50%, -50%);

         @media (max-width:767.98px) {
            display: none;
         }
      }

      &.swiper-button-disabled {
         opacity: 0;
      }
   }

   &__link {
      @media (max-width:767.98px) {
         margin-top: 20px;

         .button {
            width: 100%;
         }
      }
   }

}