@use '../../../scss/utils' as *;

.switching-tabs {
   overflow-x: auto;
   max-width: 100%;

   &__body {
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 36px;
      min-width: max-content;
      display: flex;
      gap: 50px;
      border-bottom: 1px solid #1C1C1C;

      &::before {
         content: '';
         position: absolute;
         left: var(--offset-left);
         bottom: 0;
         width: var(--width-line);
         height: 6px;
         background-color: #1C1C1C;
         transition: left 0.3s, width 0.3s;
      }
   }

   &__button {
      font-weight: 600;
      font-size: 19px;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      min-width: max-content;
      white-space: nowrap;
      color: #D9D9D9;
      transition: color 0.3s;
      @include size_adaptive (font-size, 19, 30, 1366, 1920);
      @include size_adaptive (font-size, 30, 40, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 40px;
      }

      &.active,
      ._pc &:hover {
         color: #1C1C1C;
      }
   }

   &__content {
      display: none;

      &.active {
         display: block;
      }
   }
}