@use '../../../scss/utils' as *;

.headline {
   margin-top: 50px;
   margin-bottom: 70px;

   &__container {}

   &__body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;

      @include size_adaptive (font-size, 52, 75, 1366, 1920);
      @include size_adaptive (font-size, 75, 100, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 100px;
      }
   }

   &__text {
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      max-width: 36em;
      @include size_adaptive (font-size, 16, 22, 1366, 1920);
      @include size_adaptive (font-size, 22, 28, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 28px;
      }
   }

   &__link {
      // display: flex;
      align-items: center;
      gap: 16px;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      text-align: right;
      display: none;

      @media (min-width:768px) {
         display: flex;
      }

      @include size_adaptive (font-size, 14, 18, 1366, 1920);
      @include size_adaptive (font-size, 18, 24, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 24px;
      }
   }
}