@use '../../../scss/utils' as *;

.headline {
   @media (max-width:767.98px) {
      margin-top: 30px;
      margin-bottom: 30px;
   }

   &__container {}

   &__body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }

   &__content {
      flex: 1 1 auto;
   }

   &__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: var(--fs-xxl);
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;

      @media (min-width:1024px) {
         margin-bottom: 24px;
      }

      @media (min-width:1920px) {
         margin-bottom: 32px;
      }

      @media (min-width:2560px) {
         margin-bottom: 40px;
      }
   }

   &__text {
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      max-width: 36em;
      @include size_adaptive (font-size, 16, 22, 1366, 1920);
      @include size_adaptive (font-size, 22, 28, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 28px;
      }
   }


}