@use '../../../../scss/utils' as *;

.button-arrow {
   --size: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: var(--size);
   width: var(--size);
   height: var(--size);
   color: #ffffff;
   background-color: #DB0E0E;
   clip-path: polygon(0% 100%, 0% 20%, 20% 0%, 100% 0%, 100% 80%, 80% 100%);
   transition: background-color 0.3s;
   @include size_adaptive (--size, 36, 52, 1366, 1920);
   @include size_adaptive (--size, 52, 70, 1920, 2560);

   @media (min-width:2560px) {
      --size: 70px;
   }

   svg {
      width: 34.28%;
      height: auto;
   }
}

a.button-arrow,
button.button-arrow {
   &:hover {
      background-color: #1C1C1C;
   }
}