@use '../../../scss/utils' as *;

.filter {
   margin-bottom: 50px;
   display: flex;
   align-items: stretch;
   gap: 20px;

   &__title {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: var(--fs-md);
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #1C1C1C;
   }

   &__dropdown {
      flex: 1 1 1%;
      position: relative;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #000;

      @include size_adaptive (--clip, 14, 18, 1366, 1920);
      @include size_adaptive (--clip, 18, 24, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 24px;
      }

      button {
         height: 100%;
      }
   }

   &__dropdown-button {
      width: 100%;
      min-height: 34px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 12px 20px;
      background-color: #F4F4F4;
      color: #0000004d;

      @media (min-width:1024px) {
         min-height: 40px;
      }

      @include size_adaptive (min-height, 40, 48, 1366, 1920);
      @include size_adaptive (min-height, 48, 65, 1920, 2560);

      @media (min-width:2560px) {
         min-height: 65px;
      }

      img,
      svg {
         transition: transform 0.3s;
      }

      .js-tabs-open & {
         color: #000000;

         svg,
         img {
            transform: rotate3d(1, 0, 0, 180deg);
         }
      }
   }

   &__dropdown-shell {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
   }

   &__dropdown-list {
      background-color: #F4F4F4;

      li {
         cursor: pointer;
         padding: 8px 20px;

         ._pc &:hover {
            color: #ffffff;
            background-color: #DB0E0E;
         }
      }
   }

   &__dropdown-reset {
      display: flex;
      align-items: center;
   }
}