<header id="header" class="header @@if(!context.light){blur} @@if(context.light){header--light}">
   <div class="header__container">
      <div class="header__body">
         <a href="index.html" class="header__logo">
            <img class="header__logo-img-white" src="@img/svg/logo-1-1.svg" alt="friendly motors">
            <img class="header__logo-img-black" src="@img/svg/logo-1-2.svg" alt="friendly motors">
         </a>
         <nav class="header__nav">
            <div class="header__dropdown js-tabs-body js-tabs-toggle js-tabs-closing">
               <button type="button" class="link link-hover-underline"><span>Услуги</span></button>
               <div class="header__dropdown-body js-tabs-shell">
                  <div class="header__dropdown-list js-tabs-inner">
                     <a href="auction.html" class="header__dropdown-link"><span>Покупка</span>авто на аукционе</a>
                     <a href="search.html" class="header__dropdown-link"> <span>Поиск</span>автомобиля под ключ</a>
                     <a href="diagn.html" class="header__dropdown-link"><span>Выездная</span>диагностика автомобиля</a>
                     <a href="sto.html" class="header__dropdown-link"><span>Сопровождение</span>на СТО</a>
                     <a href="comission.html" class="header__dropdown-link"> <span>Комиссионная</span>продажа</a>
                     <a href="ransom.html" class="header__dropdown-link"><span>Срочный</span>выкуп авто</a>
                  </div>
               </div>
            </div>
            <a class="link link-hover-underline" href="works.html"><span>Наши работы</span></a>
            <a class="link link-hover-underline" href="selling.html"><span>Авто в продаже</span></a>
            <a class="link link-hover-underline" href="about.html"><span>О нас</span></a>
         </nav>
         <div class="header__more">
            <a class="header__contacts link link-hover-underline" href="contacts.html"><span>Контакты</span></a>
            <div class="header__language-body js-tabs-body js-tabs-toggle js-data-scope">
               <button class="header__language header__language-menu js-tabs-button js-data-replace red link" type="button"><span>eng</span></button>
               <div class="header__language-shell js-tabs-shell">
                  <div class="js-tabs-inner">
                     <button class="header__language link js-data-target js-data-get" type="button"><span>eng</span></button>
                     <button class="header__language link js-data-target js-data-get" type="button"><span>rus</span></button>
                     <button class="header__language link js-data-target js-data-get" type="button"><span>ger</span></button>
                  </div>
               </div>
            </div>
            <div class="header__contacts-shell">
               <a class="header__phone" href="tel:+4917620909738">+4917620909738</a>
               <a class="header__mail" href="mailto:info@friendlymotors.de"><span class="red-underline">info</span><span class="red">@</span><span class="underline">friendlymotors.de</span></a>
            </div>
         </div>
         <button type="button" class="header__button-menu open-mobile-menu" aria-label="открыть меню на мобильном устройстве">
            <span></span>
            <span></span>
         </button>
      </div>
   </div>
</header>