@use '../../../scss/utils' as *;

.tab {
   --padding: 16px;
   border-bottom: 1px solid rgba(28, 28, 28, 0.2);
   color: #696969;
   transition: border-color 0.3s;
   @include size_adaptive (--padding, 16, 20, 1366, 1920);
   @include size_adaptive (--padding, 20, 30, 1920, 2560);

   @media (min-width:2560px) {
      --padding: 30px;
   }

   &__button {
      padding: var(--padding) 0;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      width: 100%;
      font-size: var(--fs-md);
      text-align: left;
   }

   &__title {
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      transition: color 0.3s;

   }

   &__icon {
      position: relative;
      width: 0.68em;
      min-width: 0.68em;
      height: 0.68em;

      &::after,
      &::before {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         height: 3px;
         width: 100%;
         background-color: #DB0E0E;
         transition: width 0.3s;
      }

      &::before {
         transform: translate(-50%, -50%) rotate(90deg);
      }
   }

   &__text {
      padding-bottom: var(--padding);
      font-size: 15px;
      line-height: 130%;
      letter-spacing: -0.05em;
      @include size_adaptive (font-size, 15, 20, 1366, 1920);
      @include size_adaptive (font-size, 20, 26, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 26px;
      }
   }

   &.js-tabs-open {
      border-color: #1C1C1C;

      .tab__button {
         color: #1C1C1C;
      }

      .tab__icon {
         &::before {
            width: 0;
         }

         &::after {
            background-color: #1C1C1C;
         }

      }
   }

   .js-tabs-shell {
      height: 0;
      transition: height 0.3s;
      overflow: hidden;
   }

}