<section class="info-grid">
   <div class="info-grid__container">
      <div class="header-section">
         <div class="title-lg">Наши ценности</div>
      </div>
      <div class="info-grid__body  js-animate-opacity">

         <div class="info-grid__cell mask-lt">
            <div class="info-grid__cell-block">
               <div class="info-grid__cell-title"><span>Честность</span> и<br> прозрачность</div>
               <div class="info-grid__cell-icon">
                  <img src="@img/svg/icon-19.svg" alt="img">
               </div>
            </div>
            <div class="info-grid__cell-text">Уважение и честность лежат в основе — в отношениях с клиентами, коллегами и партнёрами, с которыми мы создаём надёжный результат.</div>
         </div>

         <div class="info-grid__cell mask-rt">
            <div class="info-grid__cell-block">
               <div class="info-grid__cell-title"><span>Профессионализм</span><br> и развитие</div>
               <div class="info-grid__cell-icon">
                  <img src="@img/svg/icon-25.svg" alt="img">
               </div>
            </div>
            <div class="info-grid__cell-text">Мы постоянно совершенствуем процессы и сервис, проводим обучение и делаем всё, чтобы каждая покупка оставляла только положительные эмоции.</div>
         </div>

         <div class="info-grid__cell mask-lb">
            <div class="info-grid__cell-block">
               <div class="info-grid__cell-title"><span>Индивидуальный</span><br> подход</div>
               <div class="info-grid__cell-icon">
                  <img src="@img/svg/icon-3.svg" alt="img">
               </div>
            </div>
            <div class="info-grid__cell-text">Мы подбираем автомобиль под ваш стиль жизни, цели и бюджет, уделяя внимание каждому запросу и каждой детали.</div>
         </div>

         <div class="info-grid__cell mask-rb">
            <div class="info-grid__cell-block">
               <div class="info-grid__cell-title"><span>Забота</span> и<br> вовлечённость</div>
               <div class="info-grid__cell-icon">
                  <img src="@img/svg/icon-26.svg" alt="img">
               </div>
            </div>
            <div class="info-grid__cell-text">Мы относимся к каждому автомобилю и клиенту с тем же вниманием, как если бы выбирали машину для себя.</div>
         </div>

      </div>
   </div>
</section>