<section class="services margin-section">
   <div class="services__container">
      <div class="header-section">
         <h2 class="services__title title-xl">Основные услуги</h2>
      </div>
      <div class="services__grid">
         <a href="#0" class="mask-card">
            <div class="services__text"><span>Покупка</span> авто<br> на аукционе</div>
            <img src="@img/webp/image-4.webp" alt="фото услуги">
         </a>
         <a href="#0" class=" mask-card">
            <div class="services__text"><span>Поиск</span><br> автомобиля под ключ</div>
            <img src="@img/webp/image-5.webp" alt="фото услуги">
         </a>
         <a href="#0" class="mask-card">
            <div class="services__text"><span>Выездная</span><br> диагностика автомобиля</div>
            <img src="@img/webp/image-6.webp" alt="фото услуги">
         </a>
         <a href="#0" class="mask-card">
            <div class="services__text"><span>Срочный</span><br> выкуп авто</div>
            <img src="@img/webp/image-7.webp" alt="фото услуги">
         </a>
         <a href="#0" class="mask-card">
            <div class="services__text"><span>Комиссионная</span><br> продажа</div>
            <img src="@img/webp/image-8.webp" alt="фото услуги">
         </a>
         <a href="#0" class="mask-card">
            <div class="services__text"><span>Сопровождение</span><br> на СТО</div>
            <img src="@img/webp/image-9.webp" alt="фото услуги">
         </a>
      </div>
   </div>
</section>