@use '../../../scss/utils' as *;

.services {

   &__container {}

   &__title {}

   &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
   }

   &__text {
      padding: 50px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      font-weight: 600;
      font-size: 45px;
      line-height: 100%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #ffffff;

      @include size_adaptive (--fs-lg, 24, 34, 1366, 1920);
      @include size_adaptive (--fs-lg, 34, 45, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 45px;
      }

      span {
         color: #DB0E0E;
      }
   }
}