<section class="banner-about margin-section">
   <div class="banner-about__container">
      <div class="banner-about__body">
         <div class="banner-about__content">
            <h2 class="banner-about__title">Более <span>500 проданных автомобилей</span> и <span>тысячи евро выгоды</span> для наших клиентов — результат нашей прямой работы с лучшими аукционами Европы</h2>
            <p class="banner-about__text">Команда профессионалов <b>Friendly Motors</b> проводит детальную техническую проверку каждого автомобиля, гарантируя честное описание и прозрачность сделки.</p>
            <div class="banner-about__button">
               @@include('../../UI/Buttons/Button/Button.html',{
               text:'о нас',
               link: "#0"
               })
            </div>
         </div>
         <div class="banner-about__image">
            <div class="banner-about__image-shell">
               <img src="@img/webp/image-3.webp" alt="команда">
            </div>
            @@include('../../UI/Buttons/Button/Button.html',{
            text:'о нас',
            link: "#0"
            })
         </div>
      </div>
   </div>
</section>