@use '../../../scss/utils' as *;

.intro {
   pointer-events: none;
   position: relative;
   margin-top: calc(var(--height-header, 163px) * -1);
   height: var(--vh);
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   overflow: hidden;

   &__body {
      position: relative;
      z-index: 2;

      @media (max-width:1023.98px) {
         backdrop-filter: none;
      }

      @media (min-width:1024px) {
         border-top: 1px solid var(--color-border);
      }
   }

   &__container {
      max-width: none;
   }

   &__grid {
      @media (min-width:1024px) {
         display: flex;
      }
   }

   &__swiper-text {
      width: 100%;
      overflow: hidden;

      @media (min-width:1024px) {
         width: 50%;
         border-right: 1px solid var(--color-border);
      }

      .swiper-slide {
         padding-top: var(--padding-global);
         padding-bottom: var(--padding-global);
         padding-right: calc(var(--padding-global) * 0.5);
         opacity: 0;
         transition: opacity 0.3s;
      }

      .swiper-slide-active,
      .swiper-slide-duplicate-active {
         opacity: 1;
      }

      .intro__title {
         br {
            display: inline;

            @media (min-width:768px) {
               display: none;
            }
         }
      }
   }

   &__swiper-subtext {
      width: 100%;

      @media (min-width:1024px) {
         // width: min(calc(var(--container-width) / 2), calc((100vw - var(--padding-global) * 2) / 2 - var(--padding-global) * 0.5));
         width: calc(100vw / 2 - var(--padding-global));
      }

      .button {
         @media (max-width:1023.98px) {
            width: 100%;
         }
      }

      .swiper-slide {
         pointer-events: none;
         visibility: hidden;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         gap: 40px;

         .intro__text {
            opacity: 0;
            transition: opacity 0.3s;
         }
      }

      .swiper-slide-active,
      .swiper-slide-duplicate-active {
         pointer-events: all;
         visibility: visible;

         .intro__text {
            opacity: 1;
         }

      }
   }

   &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #ffffff;

      @media (max-width:1023.98px) {
         br {
            display: none;
         }
      }

      @include size_adaptive (font-size, 60, 82, 1366, 1920);
      @include size_adaptive (font-size, 82, 110, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 110px;
      }

      span {
         color: #DB0E0E;
      }
   }

   &__right {
      @media (min-width:1366px) {
         flex: 0 0 50%;
      }
   }

   &__nav {
      pointer-events: all;
      position: relative;
      --color-hover: #ffffff;
      display: flex;

      @media (max-width:1023.98px) {
         display: none;
      }

      @include size_adaptive (min-height, 58, 80, 1366, 1920);
      @include size_adaptive (min-height, 80, 108, 1920, 2560);

      @media (min-width:2560px) {
         min-height: 108px;
      }

      &::before {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100vw;
         border-bottom: 1px solid var(--color-border);
      }

      .link:last-child {
         padding-right: 0;
      }
   }

   &__content {
      padding-bottom: calc(var(--padding-global) * 0.875);
      padding-left: calc(var(--padding-global) * 0.5);

      @media (min-width:1024px) {
         padding-top: calc(var(--padding-global) * 0.875);
         gap: calc(var(--padding-global) * 0.875);
         align-items: flex-end;
      }

      .button {
         pointer-events: all;
      }
   }

   &__text {
      // pointer-events: all;
      margin-left: auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.05em;
      color: #ffffff;

      @media (min-width:1024px) {
         text-align: right;
         max-width: 23.5em;
      }

      @include size_adaptive (font-size, 18, 23, 23, 1920);
      @include size_adaptive (font-size, 23, 32, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 32px;
      }
   }

   &__swiper-main {
      pointer-events: all;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;

      .swiper-wrapper {
         height: 100%;
      }

      .swiper-slide {
         position: relative;
         background: linear-gradient(#000000, #00000000 30%, #00000000 70%, #000000);

         img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

}