<div class="intro">
   <div class="intro__body blur">
      <div class="intro__container">
         <div class="intro__grid">
            <div class="intro__left">
               <h1 class="intro__title">Автомобили <br><span>в наличии</span> <br>в нашем салоне</h1>
            </div>
            <div class="intro__right">
               <nav class="intro__nav blur">
                  <a href="#0" class="link link-hover-underline"><span>Покупка на аукционе</span></a>
                  <a href="#0" class="link link-hover-underline"><span>Трейд-ин</span></a>
                  <a href="#0" class="link link-hover-underline"><span>выездная диагностика</span></a>
                  <a href="#0" class="link link-hover-underline"><span>Авто в наличии</span></a>
               </nav>
               <div class="intro__content">
                  <p class="intro__text">В нашем автосалоне представлен широкий выбор автомобилей с пробегом и без из Германии</p>
                  @@include('../../UI/Buttons/Button/Button.html',{
                  text:'подробнее',
                  link:'#0'
                  })
               </div>
            </div>
         </div>
      </div>
   </div>
   <img class="intro__bg" src="@img/webp/image-2.webp" alt="Команда профессионалов Friendly Motors">
</div>