@use '../../../scss/utils' as *;

.card {

   &__info {
      --padding: 10px;
      display: flex;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: -0.05em;
      border-bottom: 1px solid var(--color-border-3);

      @include size_adaptive (--padding, 10, 22, 1366, 1920);
      @include size_adaptive (--padding, 22, 30, 1920, 2560);
      @include size_adaptive (font-size, 12, 14, 1024, 1366);
      @include size_adaptive (font-size, 14, 17, 1366, 1920);
      @include size_adaptive (font-size, 17, 24, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 24px;
         --padding: 30px;
      }
   }

   &__info-left {
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      padding-right: var(--padding);
      flex: 1 1 auto;
      border-right: 1px solid var(--color-border-3);
   }

   &__info-price {
      font-weight: 600;
      font-size: 1.417em;

      @media (min-width:2560px) {}
   }

   &__info-text {
      text-transform: uppercase;
      color: #696969;

      &:not(:first-child) {
         text-transform: none;
         margin-top: 20px;
      }
   }

   &__info-right {
      text-align: right;
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      padding-left: var(--padding);
   }

   &__info-model {
      font-weight: 600;
      font-size: 1.667em;
   }

   &__slider {
      position: relative;
   }

   &__sections {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
   }

   &__section {
      cursor: pointer;
      flex: 1 1 1%;
   }

   &__images {
      img {
         opacity: 0;
         transition: opacity 0.2s;

         ._touch & {
            display: none;

            &:first-child {
               display: block;
               opacity: 1;
            }
         }

         &.active {
            opacity: 1;
         }
      }
   }

   &__pagination {
      --offset: 16px;
      position: absolute;
      top: var(--offset);
      right: var(--offset);
      display: flex;
      gap: 15px;

      @include size_adaptive (--offset, 16, 22, 1366, 1920);
      @include size_adaptive (--offset, 22, 30, 1920, 2560);

      @media (min-width:2560px) {
         --offset: 30px;
      }

      span {
         --size: 6px;
         width: var(--size);
         height: var(--size);
         background-color: #ffffff;
         transition: background-color 0.2s;
         @include size_adaptive (--size, 6, 9, 1366, 1920);
         @include size_adaptive (--size, 9, 12, 1920, 2560);

         @media (min-width:2560px) {
            --size: 12px;
         }

         &.active {
            background-color: #DB0E0E;
         }
      }
   }
}