.card {

   &__info {
      --padding: 30px;
      display: flex;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.05em;
      border-bottom: 1px solid var(--color-border-3);
   }

   &__info-left {
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      padding-right: var(--padding);
      flex: 1 1 auto;
      border-right: 1px solid var(--color-border-3);
   }

   &__info-price {
      font-weight: 600;
      font-size: 34px;
      font-size: 1.417em;
   }

   &__info-text {
      text-transform: uppercase;
      color: #696969;

      &:not(:first-child) {
         text-transform: none;
         margin-top: 10px;
      }
   }

   &__info-right {
      padding-top: var(--padding);
      padding-bottom: var(--padding);
      padding-left: var(--padding);
   }

   &__info-model {
      font-weight: 600;
      font-size: 1.667em;
   }

   &__slider {
      position: relative;
   }

   &__sections {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;

   }

   &__section {
      cursor: pointer;
      flex: 1 1 1%;
   }

   &__images {
      img {
         opacity: 0;
         transition: opacity 0.2s;

         &.active {
            opacity: 1;
         }
      }
   }

   &__pagination {
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      gap: 15px;

      span {
         width: 12px;
         height: 12px;
         background-color: #ffffff;
         transition: background-color 0.2s;

         &.active {
            background-color: #DB0E0E;
         }
      }
   }
}