@use '../../../scss/utils' as *;

.car-detailed {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;

      @media (min-width:1024px) {
         flex-direction: row;
      }
   }

   &__header {
      flex: 0 0 var(--overall-offset);

      h2 {
         @media (max-width:1023.98px) {
            margin-bottom: 30px;
         }
      }
   }

   &__content {
      flex: 1 1 auto;
   }

   &__table {
      width: 100%;

      table {
         table-layout: fixed;
      }

      tbody,
      tr {
         width: 100%;
      }

      td {
         padding-top: 10px;
         padding-bottom: 10px;
         font-size: 16px;
         line-height: 100%;
         letter-spacing: -0.05em;
         text-transform: uppercase;
         border-bottom: 1px solid #D9D9D9;

         @media (min-width:1366px) {
            padding-top: 12px;
            padding-bottom: 10px;
         }

         @include size_adaptive (font-size, 15, 22, 1366, 1920);

         @media (min-width:1920px) {
            padding-top: 17px;
            padding-bottom: 13px;
         }

         @include size_adaptive (font-size, 22, 30, 1920, 2560);

         @media (min-width:2560px) {
            padding-top: 24px;
            padding-bottom: 16px;
            font-size: 30px;
         }

         &:first-child {
            padding-right: 30px;
            color: #696969;
            border-right: 1px solid #D9D9D9;
         }

         &:last-child {
            padding-left: 30px;
            font-weight: 600;
         }
      }
   }

   &__columns {
      column-count: 2;
      column-gap: 30px;

      @media (min-width:1024px) {
         column-count: 3;
      }

      li {
         margin-left: 1em;
         margin-bottom: 0.5em;
         list-style: disc;
         font-size: 13px;
         line-height: 120%;
         letter-spacing: -0.05em;
         color: #5d5d5d;

         @include size_adaptive (font-size, 15, 20, 1366, 1920);
         @include size_adaptive (font-size, 20, 28, 1920, 2560);

         @media (min-width:2560px) {
            font-size: 28px;
         }
      }
   }

   &__text {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.05em;
      color: #323232;
      @include size_adaptive (font-size, 15, 20, 1366, 1920);
      @include size_adaptive (font-size, 20, 28, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 28px;
      }
   }

   .pdf__text {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 18px;
      @include size_adaptive (font-size, 19, 26, 1366, 1920);
      @include size_adaptive (font-size, 26, 36, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 36px;
      }
   }

   &__report {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 10px;

      @media (min-width:1024px) {
         flex-direction: row;
         justify-content: space-between;
         align-items: flex-start;
      }
   }

   &__video {
      margin-left: calc(var(--padding-global) * -1);
      width: 100vw;
      position: relative;
      height: 60vw;
      padding: 0;

      @media (min-width:768px) {
         height: 240px;
         margin: 0;
         width: 100%;
      }

      @include size_adaptive (height, 240, 360, 1024, 1366);
      @include size_adaptive (height, 360, 500, 1366, 1920);
      @include size_adaptive (height, 500, 675, 1920, 2560);

      @media (min-width:2560px) {
         height: 675px;
      }

      .play {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 5;
      }

      video {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;


      }
   }
}