<section class="car-detailed margin-section">
   <div class="car-detailed__container">
      <div class="car-detailed__body">
         <div class="car-detailed__header">
            <h2 class="title-lg js-text-animate">Стоимость</h2>
         </div>
         <div class="car-detailed__content">
            <div class="car-detailed__table">
               <table width="100%" cellpadding="0" cellspacing="0">
                  <tbody>
                     <tr>
                        <td>Марка</td>
                        <td>BMW</td>
                     </tr>
                     <tr>
                        <td>модель</td>
                        <td>M3 Competition</td>
                     </tr>
                     <tr>
                        <td>Год выпуска</td>
                        <td>2024</td>
                     </tr>
                     <tr>
                        <td>Пробег</td>
                        <td>12 456 km</td>
                     </tr>
                     <tr>
                        <td>Мощность</td>
                        <td>350 л.с.</td>
                     </tr>
                     <tr>
                        <td>Трансмиссия</td>
                        <td>Автоматическая </td>
                     </tr>
                     <tr>
                        <td>Тип двигателя</td>
                        <td>Бензиновый</td>
                     </tr>
                     <tr>
                        <td>Цена брутто</td>
                        <td>€56000</td>
                     </tr>
                     <tr>
                        <td>Цена нетто</td>
                        <td>€59000</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
      </div>
   </div>

</section>
<section class="car-detailed margin-section">
   <div class="car-detailed__container">
      <div class="car-detailed__body">
         <div class="car-detailed__header">
            <h2 class="title-lg js-text-animate">Комплектация</h2>
         </div>
         <div class="car-detailed__content">
            <ul class="car-detailed__columns">
               <li>Android Auto</li>
               <li>Apple CarPlay</li>
               <li>Bluetooth</li>
               <li>DAB-радио</li>
               <li>ESP</li>
               <li>Isofix</li>
               <li>Датчик дождя</li>
               <li>USB-порт</li>
               <li>Ассистент при старте на подъеме</li>
               <li>Беспроводная зарядка для смартфонов</li>
               <li>Бортовой компьютер</li>
               <li>Гарантия</li>
               <li>Голосовое управление</li>
               <li>Датчик освещенности</li>
               <li>Задний привод</li>
               <li>Зеркало заднего вида с автоматическим затемнением</li>
               <li>Иммобилайзер</li>
               <li>Кожаный руль</li>
               <li>Колеса из легкого сплава</li>
               <li>Комплект громкой связи</li>
            </ul>
         </div>
      </div>
   </div>
</section>

<section class="car-detailed margin-section">
   <div class="car-detailed__container">
      <div class="car-detailed__body">
         <div class="car-detailed__header">
            <h2 class="title-lg js-text-animate">Описание</h2>
         </div>
         <div class="car-detailed__content">
            <p class="car-detailed__text">
               Автомобили M BMW 3 серии сочетают в себе атлетичные пропорции и классический четырехдверный трехобъемный дизайн с фирменной спортивностью M. Возглавляет пару эффектных седанов BMW M3 Competition с феноменальными 510 л.с. и 650 Нм крутящего момента. Этот автомобиль, оснащенный высокомощным двигателем BMW M TwinPower Turbo, 8-ступенчатой АКПП M Steptronic с технологией Drivelogic, опциональной системой полного привода M xDrive*, активным дифференциалом M и многочисленными технологиями, позаимствованными в автоспорте, гарантирует максимальные динамические характеристики – как в повседневной эксплуатации, так и на гоночных трассах. BMW M340i xDrive: помимо привлекательного дизайна этот спортивный седан впечатляет особенно сбалансированным сочетанием атлетизма, экономичности и практичности в повседневной эксплуатации.
            </p>
         </div>
      </div>
   </div>
</section>

<section class="car-detailed margin-section">
   <div class="car-detailed__container">
      <div class="car-detailed__body">
         <div class="car-detailed__header">
            <h2 class="title-lg js-text-animate">видео</h2>
         </div>
         <div class="car-detailed__content">
            <div class="car-detailed__video">

            </div>
         </div>
      </div>
   </div>
</section>

<section class="car-detailed margin-section">
   <div class="car-detailed__container">
      <div class="car-detailed__body">
         <div class="car-detailed__header">
            <h2 class="title-lg js-text-animate">PDF-отчет</h2>
         </div>
         <div class="car-detailed__content">
            <div class="car-detailed__report">
               @@include('../../UI/Pdf/Pdf.html',{
               text:'скачать отчет о лакокрасочном покрытии',
               subtext:'Формат PDF, размер файла 14,5 Мб.'
               })
               @@include('../../UI/Buttons/Button/Button.html',{
               text:'скачать',
               link:'#0'
               })
            </div>
         </div>
      </div>
   </div>
</section>