<section class="founder margin-section">
   <div class="founder__container">
      <div class="header-section">
         <h2 class="founder__title title-lg js-text-animate">Об основателе Friendly Motors</h2>
      </div>
      <div class="founder__body">
         <div class="founder__content js-animate-opacity" data-da=".founder__image,1,768,max">
            <div>
               <svg width="102" height="88" viewBox="0 0 102 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 88V63.4219C0 55.974 1.26042 48.3542 3.78125 40.5625C6.30208 32.6562 9.68229 25.151 13.9219 18.0469C18.1615 10.9427 22.9167 4.92708 28.1875 0L49.1562 13.2344C45.6042 20.224 42.5104 27.7292 39.875 35.75C37.3542 43.6562 36.0938 52.8229 36.0938 63.25V88H0ZM52.7656 88V63.4219C52.7656 55.974 54.026 48.3542 56.5469 40.5625C59.0677 32.6562 62.4479 25.151 66.6875 18.0469C70.9271 10.9427 75.6823 4.92708 80.9531 0L101.922 13.2344C98.3698 20.224 95.276 27.7292 92.6406 35.75C90.1198 43.6562 88.8594 52.8229 88.8594 63.25V88H52.7656Z" fill="#DB0E0E" />
               </svg>
            </div>
            <div class="founder__text">
               <p>
                  Меня зовут Арсений Кузьминых, я основатель и генеральный директор Friendly Motors.<br>
                  Я окончил Лондонскую школу экономики по специальности «Экономика и финансы». Начинал карьеру в банковской сфере, однако уже спустя время осознал, что моя настоящая страсть — автомобили. После стажировки в автосалоне Porsche я окончательно убедился: всё, что связано с автомобилями, — это то, чему я хочу посвятить жизнь.
               </p>
               <p>Автоспорт всегда занимал особое место в моей жизни. Я являюсь кандидатом в мастера спорта по автоспорту. С детства я занимался картингом, участвовал в национальных соревнованиях. Возможно, именно этот соревновательный дух помог мне развить стремление к совершенству и внимательность к деталям — качествам, которые сегодня лежат в основе Friendly Motors.</p>
               <p>Для меня нет большего удовольствия, чем видеть, как клиенты уезжают на автомобилях, которыми я бы с радостью владел сам. Мы тщательно подбираем каждый автомобиль, анализируем историю, техническое состояние и рыночную стоимость, чтобы клиент получил максимум выгоды и удовольствия от покупки. Я рад приветствовать вас в Friendly Motors.</p>
            </div>
         </div>
         <div class="founder__image js-animate-to-top">
            <img src="@img/webp/image-31.webp" alt="img">
            <div class="founder__image-figcaption">
               Арсений Кузьминых
               <span>Основатель и генеральный директор Friendly Motors</span>
            </div>
         </div>


      </div>
   </div>
</section>