@use '../../../scss/utils' as *;

.cost-service {

   &__container {}

   &__body {
      display: flex;
      flex-direction: column;

      @media (min-width:1024px) {
         flex-direction: row;
      }

   }

   &__header {
      flex: 0 0 var(--overall-offset);

      h2 {
         margin-bottom: 30px;
      }
   }

   &__contant {}

   &__banners {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      @media (min-width:1024px) {
         margin-bottom: 20px;
         gap: 20px;
      }

      @media (min-width:1920px) {
         margin-bottom: 40px;
      }
   }

   &__banner {
      width: 100%;
      --border-width: 4px;
      position: relative;
      padding: 14px 20px;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      border: var(--border-width) solid #DB0E0E;

      @media (min-width:768px) {
         width: auto;
      }

      @media (min-width:1024px) {
         padding: 20px 32px;
         font-size: 28px;
         --border-width: 5px;
      }

      @include size_adaptive (font-size, 28, 38, 1366, 1920);
      @include size_adaptive (font-size, 38, 50, 1920, 2560);

      @media (min-width:1920px) {
         padding: 22px 32px;
         --border-width: 7px;
      }

      @media (min-width:2560px) {
         --border-width: 9px;
         font-size: 50px;
      }
   }

   &__banner-title {
      padding: 0 12px;
      position: absolute;
      top: 0;
      left: 16px;
      transform: translateY(calc(-50% - var(--border-width) / 2));
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      background-color: #ffffff;

      @include size_adaptive (font-size, 16, 22, 1366, 1920);
      @include size_adaptive (font-size, 22, 30, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 30px;
      }
   }

   &__value {
      color: #DB0E0E;
   }

   &__info {
      font-size: 13px;
      line-height: 120%;
      letter-spacing: -0.05em;

      @media (min-width:1024px) {
         font-size: 15px;
      }

      @include size_adaptive (font-size, 15, 20, 1366, 1920);
      @include size_adaptive (font-size, 20, 26, 1920, 2560);

      @media (min-width:2560px) {
         font-size: 26px;
      }

      &>* {
         &:not(:last-child) {
            margin-bottom: 10px;

            @media (min-width:1024px) {
               margin-bottom: 20px;
            }
         }
      }

      sup {
         color: #DB0E0E;
      }

      strong {
         font-weight: 600;
         text-transform: uppercase;
         text-decoration: underline;
      }

      ul {
         li {
            margin-left: 1.5em;
         }
      }
   }
}