<section class="cost-service margin-section">
   <div class="cost-service__container">
      <div class="cost-service__body">
         <div class="cost-service__header">
            <h2 class="title-lg">Стоимость</h2>
         </div>
         <div class="cost-service__contant">
            <div class="cost-service__banners">
               <div class="cost-service__banner">
                  <div class="cost-service__banner-title">Комиссия Friendly Motors</div>
                  <span class="cost-service__value">5%*</span>
                  <span class="cost-service__text">от цены автомобиля</span>
               </div>
               <div class="cost-service__banner">
                  <div class="cost-service__banner-title">Комиссия Friendly Motors</div>
                  <span class="cost-service__value">5%*</span>
                  <span class="cost-service__text">от цены автомобиля</span>
               </div>
            </div>
            <div class="cost-service__info">
               <p><sup>*</sup>но не менее <b>1000 €.</b></p>
               <p>Диагностика оплачивается <strong>отдельно:</strong></p>
               <ul>
                  <li><b>250 €</b> за диагностику.</li>
                  <li><b>1 €/км</b> за выезд.</li>
               </ul>
               <p>Логистические расходы оплачиваются <strong>отдельно.</strong></p>
            </div>
         </div>
      </div>
   </div>
</section>