@forward "fonts";
@forward "root_var";
@forward "normalize";
@forward "global";

@use '../../html/Components/Header/header';
@use '../../html/Components/Footer/footer';
@use '../../html/Components/Intro/intro';
@use '../../html/Components/Banner-About/banner-about';
@use '../../html/Components/Enumeration/enumeration';
@use '../../html/Components/Services/services';
@use '../../html/Components/Slider/slider';
@use '../../html/Components/Steps/steps';
@use '../../html/Components/Questions/questions';
@use '../../html/Components/Form/form';
@use '../../html/Components/Mobile-Menu/mobile-menu';
@use '../../html/Components/Headline/headline';
@use '../../html/Components/Banner-Offer/banner-offer';
@use '../../html/Components/Initial/initial';
@use '../../html/Components/Sequence/sequence';
@use '../../html/Components/About-Service/about-service';
@use '../../html/Components/Cost-Service/cost-service';
@use '../../html/Components/Grid-Cards/grid-cards';
@use '../../html/Components/Works/works';
@use '../../html/Components/Slider-Ordinary/slider-ordinary';
@use '../../html/Components/Info-Grid/info-grid';
@use '../../html/Components/Founder/founder';
@use '../../html/Components/Contacts/contacts';
@use '../../html/Components/Contacts-Map/contacts-map';
@use '../../html/Components/Card-Gallery/card-gallery';

@use '../../html/UI/Buttons/Button/button';
@use '../../html/UI/Card/card';
@use '../../html/UI/Buttons/Button-Arrow/button-arrow';
@use '../../html/UI/Tab/tab';
@use '../../html/UI/Buttons/Link-Back/link-back';
@use '../../html/UI/Filter/filter';