@forward "fonts";
@forward "root_var";
@forward "normalize";
@forward "global";

@use '../../html/Components/Header/header';
@use '../../html/Components/Footer/footer';
@use '../../html/Components/Intro/intro';
@use '../../html/Components/Banner-About/banner-about';
@use '../../html/Components/Achievements/achievements';
@use '../../html/Components/Services/services';
@use '../../html/Components/Slider/slider';
@use '../../html/Components/Steps/steps';
@use '../../html/Components/Questions/questions';
@use '../../html/Components/Form/form';
@use '../../html/Components/Mobile-Menu/mobile-menu';
@use '../../html/Components/Headline/headline';
@use '../../html/Components/Banner-Offer/banner-offer';

@use '../../html/UI/Buttons/Button/button';
@use '../../html/UI/Card/card';
@use '../../html/UI/Buttons/Button-Arrow/button-arrow';
@use '../../html/UI/Tab/tab';