@forward "fonts";
@forward "root_var";
@forward "normalize";
@forward "global";

@use '../../html/Components/Header/header';
@use '../../html/Components/Intro/intro';
@use '../../html/Components/Banner-About/banner-about';
@use '../../html/Components/Achievements/achievements';
@use '../../html/Components/Services/services';

@use '../../html/UI/Buttons/Button/button';