@use '../utils' as *;

@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-Light', 300, normal);
@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-Regular', 400, normal);
@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-Italic', 400, italic);
@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-Medium', 500, normal);
@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-SemiBold', 600, normal);
@include fonts-face('RobotoCondensed', 'RobotoCondensed/RobotoCondensed-Bold', 700, normal);



// @font-face {
// 	font-family:
// 		fontsName;
// 	font-display: swap;
// 	src:
// 		url("../fonts/fontsName/fontsName-Regular.woff2") format("woff2"),
// 		url("../fonts/fontsName/fontsName-Regular.woff") format("woff");
// 	font-weight:
// 		400;
// 	font-style: normal;
// }

// 100: Thin;
// 200: Extra Light (Ultra Light);
// 300: Light;
// 400: Normal; Regular
// 500: Medium;
// 600: Semi Bold (Demi Bold);
// 700: Bold;
// 800: Extra Bold (Ultra Bold);
// 900: Black (Heavy).