@use '../utils' as *;

:root {
   --font-family: "RobotoCondensed", sans-serif;
   --tr-time: 0.3s;
   --tr-cubic-bezier: cubic-bezier(0.42, 0.00, 0.58, 1.00);
   // color
   --color-modal-bg: rgba(0, 0, 0, 0.6);
   --color-border: rgba(255, 255, 255, 0.2);
   --color-border-1: rgba(255, 255, 255, 0.3);
   --color-border-2: #D9D9D9;
   --color-border-3: rgba(28, 28, 28, 0.3);
   // size
   --vh: 100vh;
   --link-fs: 16px;

   --clip: 24px;

   --fs-md: 22px;
   --fs-xl: 30px;
   --fs-lg: 30px;

   // indent
   --margin-section: 40px;
   --padding-global: 20px;
   --padding-global-25: 10px;
   --padding-global-75: 20px;

   @include size_adaptive (--padding-global, 20, 40, 768, 1366);
   @include size_adaptive (--padding-global, 40, 60, 1366, 1920);
   @include size_adaptive (--padding-global, 60, 80, 1920, 2560);

   @include size_adaptive (--margin-section, 50, 75, 1366, 1920);
   @include size_adaptive (--margin-section, 75, 100, 1920, 2560);

   @include size_adaptive (--link-fs, 16, 19, 1366, 1920);
   @include size_adaptive (--link-fs, 19, 26, 1920, 2560);

   @include size_adaptive (--fs-md, 22, 30, 1366, 1920);
   @include size_adaptive (--fs-md, 30, 40, 1920, 2560);

   @include size_adaptive (--fs-xl, 42, 60, 1366, 1920);
   @include size_adaptive (--fs-xl, 60, 80, 1920, 2560);

   @include size_adaptive (--fs-lg, 32, 45, 1366, 1920);
   @include size_adaptive (--fs-lg, 45, 60, 1920, 2560);

   @include size_adaptive (--clip, 24, 34, 1366, 1920);
   @include size_adaptive (--clip, 34, 45, 1920, 2560);

   @media (min-width:1366px) {
      --padding-global-25: calc(var(--padding-global) * 0.25);
      --padding-global-75: calc(var(--padding-global) * 0.75);
   }

   @media (min-width:2560px) {
      --padding-global: 80px;
      --margin-section: 100px;
      --link-fs: 26px;
      --fs-md: 40px;
      --fs-xl: 80px;
      --fs-lg: 60px;

      --clip: 45px;
   }

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }

}