@use '../utils' as *;

:root {
   --font-family: "RobotoCondensed", sans-serif;
   // color
   --color-modal-bg: rgba(0, 0, 0, 0.6);
   --color-border: rgba(255, 255, 255, 0.2);
   --color-border-2: #D9D9D9;
   // size
   --vh: 100vh;
   --link-fs: 16px;

   --fs-xl: 30px;
   --fs-lg: 30px;

   // indent
   --margin-section: 40px;
   --padding-container: 20px;

   @include size_adaptive (--padding-container, 20, 40, 768, 1366);
   @include size_adaptive (--padding-container, 40, 60, 1366, 1920);
   @include size_adaptive (--padding-container, 60, 80, 1920, 2560);

   @include size_adaptive (--margin-section, 50, 75, 1366, 1920);
   @include size_adaptive (--margin-section, 75, 100, 1920, 2560);

   @include size_adaptive (--link-fs, 16, 19, 1366, 1920);
   @include size_adaptive (--link-fs, 19, 26, 1920, 2560);

   @include size_adaptive (--fs-xl, 42, 60, 1366, 1920);
   @include size_adaptive (--fs-xl, 60, 80, 1920, 2560);

   @include size_adaptive (--fs-lg, 32, 45, 1366, 1920);
   @include size_adaptive (--fs-lg, 45, 60, 1920, 2560);

   @media (min-width:2560px) {
      --padding-container: 80px;
      --margin-section: 100px;
      --link-fs: 26px;
      --fs-xl: 80px;
      --fs-lg: 60px;
   }

   @supports (height: 100dvh) {
      --vh: 100dvh;
   }

}