<section class="staps margin-section">
   <div class="staps__container-wide">
      <div class="staps__padding mask-rt">
         <div>
            <div class="header-section">
               <h2 class="title-lg">Как мы работаем</h2>
            </div>
            <div class="swiper">
               <div class="staps__body swiper-wrapper">
                  <div class="staps__card swiper-slide">
                     <div class="staps__number">01</div>
                     <div class="staps__content">
                        <div class="staps__icon">
                           <img src="@img/svg/application.svg" alt="Оставляете заявку">
                        </div>
                        <hr class="staps__line">
                        <div class="staps__name">Оставляете заявку</div>
                        <div class="staps__text">По телефону +4917620909738 или <a href="#0">онлайн на сайте</a></div>
                     </div>
                  </div>
                  <div class="staps__card swiper-slide">
                     <div class="staps__number">02</div>
                     <div class="staps__content">
                        <div class="staps__icon">
                           <img src="@img/svg/payment.svg" alt="Оплачиваете услугу">
                        </div>
                        <hr class="staps__line">
                        <div class="staps__name">Оплачиваете услугу</div>
                        <div class="staps__text">Оплата возможна банковским переводом или криптовалютой</div>
                     </div>
                  </div>
                  <div class="staps__card swiper-slide">
                     <div class="staps__number">03</div>
                     <div class="staps__content">
                        <div class="staps__icon">
                           <img src="@img/svg/finish.svg" alt="Выполняем задачу">
                        </div>
                        <hr class="staps__line">
                        <div class="staps__name">Выполняем задачу</div>
                        <div class="staps__text">Оперативно и качественно выполняем поставленную задачу</div>
                     </div>
                  </div>
               </div>
               <div class="staps__pagination"></div>
            </div>
         </div>
      </div>
   </div>
</section>